{% extends "main.html" %}

{% load static %}
{% block title %} Gestion de cursos {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h1> Gestion de materias</h1>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text"  name="codigo" class="form-control" placeholder="Codigo" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  name="nombre" class="form-control" placeholder="Nombre"  max="40" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="creditos" class="form-control" placeholder="Creditos" required>
                    </div>
                    <div class="form-group">
                        <br>
                        <button type="submit" class="btn btn-success "> Matricular</button>
                    </div>
                </form>
            </div>
        </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

    </div>

<div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1> Listado de materias matriculadas</h1>
    <div class="table-responsive py-2">
        <table class="table table-striped">
            <thhead>
                <tr>
                    <th> #</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Creditos</th>
                    <th>Fecha</th>
                    <th>Accion</th>
                </tr>
            </thhead>
            <tbody>
                {% for materia in materias %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{materia.id}}</td>
                    <td>{{materia.nombre}}</td>
                    <td>{{materia.creditos}}</td>
                    <td>{{materia.fecha|date:"Y-m-d H:i"}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Botones de Acción">
                            <form action="/" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-sm btn-primary" value="Actualizar">
                            </form>
                            <br>
                            <form action="{% url "delete" materia.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" id="delete" class="btn btn-sm btn-danger" onclick=preventDelete()  value="Eliminar"> 
                            </form>
                        </div>
                      </td>
                                          
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static "js/main.js" %}"></script>
</div>
{% endblock %}